# Files to ignore during the project
*.DS_Store
tainted_planet.xcodeproj/xcuserdata/*
tainted_planet.xcodeproj/project.xcworkspace/xcuserdata/*
tainted_planet.xcodeproj/project.xcworkspace/xcshareddata/*
tainted_planet.xcodeproj/xcshareddata/xcschemes/tainted_planet.xcscheme
build
